/**
 * @author
 * Falua Temitope Oyewole
 * faluatemitope@gmail.com
 * 22nd of May, 2018
 */

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

header {
  width: 100%;
  height: 3.4em;
  position: absolute;
  z-index: 2;
}

header .navbar {
  border-radius: 0;
  border: none;
}

header nav,
header .nav {
  border-radius: 0;
  border: none;
}

header nav .underline,
header .nav .underline {
  position: relative;
  overflow: hidden;
}

header nav .underline::after,
header .nav .underline::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: 0;
  background: #00acee;
  height: 2px;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

header nav .underline:hover::after,
header nav .underline :focus::after,
header nav .underline :active::after,
header .nav .underline:hover::after,
header .nav .underline :focus::after,
header .nav .underline :active::after {
  left: 0;
  right: 0;
  width: 100%;
}

header nav li a,
header .nav li a {
  color: #F7F7FF;
}

header nav li a:hover,
header .nav li a:hover {
  background: none;
  color: #FFFFFF;
}

header nav li a:focus,
header .nav li a:focus {
  background: none;
}

header nav.scrolled,
header .nav.scrolled {
  position: fixed;
  padding: 2em 5em;
  background: #FFFFFF;
  top: 0;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  width: 100%;
  -webkit-animation: slideInDown 5ms 2ms;
          animation: slideInDown 5ms 2ms;
}

@media (max-width: 768px) {
  header nav.scrolled,
  header .nav.scrolled {
    padding: 0 2em;
  }
}

header nav.scrolled li a,
header .nav.scrolled li a {
  color: black;
}

header nav.scrolled li a:hover,
header .nav.scrolled li a:hover {
  color: #FFFFFF;
}

section {
  position: relative;
  width: 100%;
}

.landing {
  height: 100vh;
  background: url(/images/landing.jpeg?a0b7f235218c3f5739814be1f845c324) no-repeat center;
  background-size: cover;
  width: 100%;
}

.landing .inner-landing {
  padding: 9em 0 0 0;
  position: relative;
}

.landing .inner-landing .col-3 {
  width: 30.3%;
  min-height: 1px;
  float: left;
}

.landing .inner-landing .col-5 {
  width: 60%;
  float: left;
}

.landing .inner-landing .content {
  padding: 10em 0 0;
  line-height: 35px;
}

.landing .inner-landing .content h3 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 25px;
}

.landing .inner-landing .content .advert {
  clear: both;
}

.landing .inner-landing .content .advert .btn {
  font-family: 'Ubuntu', sans-serif;
  padding: .9em 1.3em;
  border-radius: 2px;
  outline: none;
  border: none;
}

.landing .inner-landing .content .advert .btn-get {
  color: #FFFFFF;
  background: #1e67d3;
}

.landing .inner-landing .inner-col {
  padding-left: 15em;
}

.landing .inner-landing .inner-col .asset {
  background-size: contain;
  width: 450px;
  height: 450px;
}

.overlay {
  position: absolute;
  width: 100%;
  content: "";
  height: 100%;
  background: black;
  opacity: .9;
}

/*The grid system*/

.col-1,
.col-2 {
  width: 33.3%;
  height: 100%;
  margin-left: 50px;
  padding: 10px;
  float: left;
  display: inline-block;
  position: relative;
}

.col-2 {
  width: 58%;
}

.col-2-1 {
  width: 60%;
  float: left;
}

@media (max-width: 768px) {
  .col-2-1 {
    width: 98%;
  }
}

.col-4-1 {
  width: 48%;
  margin: 10px;
  float: left;
  position: relative;
}

@media (max-width: 768px) {
  .col-4-1 {
    width: 98%;
  }
}

.col-12 {
  width: 100%;
  display: inline-block;
}

.col-4-12-1 {
  width: 28%;
  float: left;
}

@media (max-width: 992px) {
  .col-4-12-1 {
    width: 98%;
  }
}

.col-4-12-2 {
  width: 72%;
  float: left;
}

@media (max-width: 992px) {
  .col-4-12-2 {
    width: 98%;
  }
}

.feature {
  margin: 0;
  width: 100%;
}

.feature .inner-feature {
  padding-top: 10px;
}

.feature .inner-feature h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #070600;
  text-align: center;
}

