$theme-black: #070600;
$theme-red: #EA526F;
$theme-gray: #666763;
$theme-white: #F7F7FF;
$theme-deepblue: #279AF1;
$theme-p-white: #FFFFFF;
$deepblue: rgb(34, 49, 100);
$theme-green: rgb(40,120,40);
//$deanColr: #32C2CD;
$theme-sleekblack: rgb(14%,14%,20%);

$shadow-black: rgba(50,50,50,0.5);
$bg-green: rgb(10, 50, 40);